

.places__place-website-url {

    margin: 0;
    padding-bottom: 10px;

    letter-spacing: 0.2em;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;

    color: #AAAAAA;
}