
@import url('./__content-title/video__content-title.css');
@import url('./__content-subtitle/video__content-subtitle.css');
@import url('./__container/video__container.css');

.video {    

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1185px;

    font-family: 'inter';

}

.video_indent {

    margin: 108px auto 0 auto;

}

@media screen and (max-width: 1279px) {

    .video {
        max-width: 91%;
    }

    .video_indent {

        margin-top: 115px;
    }
}

@media (max-width: 1023px) {

    .video {

        max-width: 94%;
    }
}
@media (max-width : 767px) {

    .video_indent {
        
        margin-top: 98px;
    }
}
@media (max-width : 374px) {

    .video {
        max-width: 90%;
    }
    .video_indent {

        margin-top: 70px;
    }
}