
.lead__image-point_position-yaroslavl {
    
    position: absolute;

    top: 301px;
    left: 264px;

    background: #47443E;
}

@media screen and (max-width : 1279px) {

    .lead__image-point_position-yaroslavl {

        top: 54.2%;
        left: 26.8%;
    }
}

