
.lead__image-point_position-velnovgorod {
     position: absolute;

     top: 157px;
     left: 123px;

     background: #272722;
}

@media screen and (max-width : 1279px) {

     .lead__image-point_position-velnovgorod {

          top: 28.2%;
          left: 12.4%;
     }
}