

.video__container-item-image {

    margin: 30px 0 0 30px;

    width: 41px;

    z-index: 2;
}

@media (max-width: 1023px) {

    .video__container-item-image {

        margin:0; 

        position: absolute;
        top: 25px;
        left: 25px;
        
    }
}
@media (max-width : 374px) {

    .video__container-item-image {
        top: 16px;
        left: 16px;
    }
}