
.lead__image-point_position-omsk {
    position: absolute;

    top: 283px;
    left: 727px;
    
    background: #577379;
}

@media screen and (max-width : 1279px) {

    .lead__image-point_position-omsk {

        top: 51%;
        left: 74%;
    }
}