
.lead__image-point_position-glazov {
    
    position: absolute;

    top: 308px;
    left: 531px;
    
    background: #789186;
}

@media screen and (max-width : 1279px) {

    .lead__image-point_position-glazov {

        top: 55%;
        left: 54.3%; 

    }
}