

.video__content-title {

    margin: 0 auto;

    max-width: 92%;

    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;    

    color: #fff;
}

@media (max-width: 1023px) {

    .video__content-title {

        font-size: 42px;
        line-height: 46px;
    }
}
@media (max-width : 767px) {

    .video__content-title {
        
        font-size: 32px;
        line-height: 35px;
    }
}
@media (max-width : 374px) {

    .video__content-title {

        max-width: 100%;
    }
 }

